.breadcrumb {
  background-color: #f8f9fa;
  padding: 8px 15px;
  border-radius: 4px;
  display: flex;
  align-items: center;
}

.breadcrumb .breadcrumb-item {
  display: flex;
  align-items: center;
  margin-right: 4px;
}

.breadcrumb .breadcrumb-item a {
  color: #007bff;
  text-decoration: none;
}

.breadcrumb .breadcrumb-item .breadcrumb-arrow {
  width: 8px;
  height: 8px;
  border-top: 2px solid #6c757d;
  border-right: 2px solid #6c757d;
  transform: rotate(45deg);
  margin-left: 4px;
}

.breadcrumb .breadcrumb-item.active {
  color: #6c757d;
}
